<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <img src="/img/logo-mercado-liebre.svg" alt="">
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <br><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio iure explicabo perspiciatis eaque, doloribus sunt, officia dolores nobis repellat numquam quibusdam, itaque quasi? Quidem, suscipit a? Dicta delectus numquam ipsam.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio iure explicabo perspiciatis eaque, doloribus sunt, officia dolores nobis repellat numquam quibusdam, itaque quasi? Quidem, suscipit a? Dicta delectus numquam ipsam.</p>
    <hr>
    <h3>Lorem, ipsum dolor.</h3>
    <img src="/img/banner_newsletter.png" alt="">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <a href="/">Lorem, ipsum dolor -></a>
    <hr>
    <h3>Lorem, ipsum dolor.</h3>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio iure explicabo perspiciatis eaque, doloribus sunt, officia dolores nobis repellat numquam quibusdam, itaque quasi? Quidem, suscipit a? Dicta delectus numquam ipsam.</p>
    <hr>
    <ul>
        <li><a href="">Instagram</a></li>
        <li><a href="">algo</a></li>
        <li><a href="">algo</a></li>
        <li><a href="">algo</a></li>
    </ul>
    <h4>
        Saludos, 
        <br>
        Ale y Uri
    </h4>
    <hr>
    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ad dolores fugiat laborum expedita, nemo facilis, quasi voluptatum ducimus, corporis omnis. Enim tenetur, earum optio dolores explicabo modi nobis dicta exercitationem ab, asperiores dignissimos tempora rem. Ipsum, accusantium beatae magnam labore, sint enim impedit quasi alias suscipit optio maxime odit voluptatem facilis id eaque iusto ea neque laudantium natus maiores repudiandae incidunt omnis cum. Veniam itaque sequi laboriosam eaque in debitis similique. Animi nesciunt reiciendis, rerum accusantium neque illo possimus suscipit explicabo exercitationem, nemo unde veritatis dicta ab ipsum perferendis libero numquam eos quo cum. Reprehenderit autem ut at fuga!</small>
</body>
</html>